html {
    scroll-behavior: smooth;
}

/*------------------------------about section----------------------------*/
#about {
    padding: 100px 10px 90px 10px;
    background-color: #ffffff;
}

.about .content {
    padding: 10px 0;
}

.about .content h3 {
    font-weight: 600;
    font-size: 19px;
   color: rgb(8 126 164);
    padding-bottom: 15px;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
}

.about .content h6 {
    font-weight: 700;
    font-size: 18px;
    color: #302f2f;
    text-transform: capitalize;
    font-family: "Poppins", sans-serif;
}

.about .content p {
    margin-bottom: 0;
    color: rgb(64 71 86);
    /* font-family: "Poppins", sans-serif; */
    font-family: Mulish, sans-serif;
    line-height: 1.85;
    text-align: left;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.85em;
    color: #7b7b7b;
    padding-bottom: 12px;
}

.about .content .count-box {
    padding: 20px 0;
    width: 100%;
}

.about .content .count-box i {
    display: block;
    font-size: 36px;
    color: #eeafca;
    float: left;
    line-height: 0;
}

.about .content .count-box span {
    font-size: 36px;
    line-height: 20px;
    display: block;
    font-weight: 700;
    color: #2c4964;
    margin-left: 50px;
    font-family: "Playfair Display", serif;
}

.about .content .count-box a {
    font-weight: 600;
    display: block;
    margin-top: 20px;
    color: #437099;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    transition: ease-in-out 0.3s;
}

.about .content .count-box a:hover {
    color: #6b96be;
}

.about .image {

    background: url("../img/programmer.png") center center no-repeat;
    background-size: cover;
    height: 350px;
    width: 480px;
    border-radius: 12px;
    margin-top: 60px;
}

#about .cv-btn {
    margin-top: 12px;
    border: none;
    width: 180px;
    display: flex;
    padding: 0.90rem 1.5rem;
    background-color: transparent;
    color: rgb(62, 62, 62);
    font-size: 0.90rem;
    line-height: 1rem;
    font-weight: 500;
    text-align: center;
    border: 1px solid rgb(227, 227, 227);
    text-transform: capitalize;
    text-decoration: none;
    vertical-align: middle;
    align-items: center;
    border-radius: 0.5rem;
    user-select: none;
    gap: 0.75rem;
    font-family: 'Poppins', sans-serif;
    transition: all .6s ease;
}

/* #about .cv-btn:hover {
    box-shadow: 0 10px 15px -3px #488aec4f, 0 4px 6px -2px #488aec17;
} */

#about .cv-btn:active {
    opacity: .85;
    box-shadow: none;
}

#about .cv-btn svg {
    width: 1.25rem;
    height: 1.25rem;
}

@media (max-width: 991px) {
    #about {
        padding: 50px 20px 90px 20px;
        background-color: #ffffff;
    }

    .about .content p {
        margin-bottom: 0;
        font-size: 16px;
        color: #767676;
        line-height: 1.85;
        text-align: left;
        font-weight: 400;
        font-style: normal;
        line-height: 1.85em;
        color: #7b7b7b;
        padding-bottom: 12px;
    }

    .about .content h3 {
        font-size: 19px;
        font-weight: 600;
        padding-bottom: 4px;
    }

    .about .content h6 {
        font-weight: 600;
        font-size: 16px;
        color: #302f2f;
        text-transform: capitalize;
    }


    .about .image {
        min-height: 270px;
        text-align: center;
        margin-top: 0px
    }

    .about .image img {
        max-width: 80%;
    }

    #about .cv-btn {
        margin: 12px auto;
    }


    .call-to-action h3 {
        font-size: 19px;
        font-weight: 700;
        color: var(--default-color);
        font-family: 'Poppins', sans-serif;
    }

    .call-to-action p {
        color: var(--default-color);
        font-family: 'Poppins', sans-serif;
        font-size: 15px;
    }

}


/*--------------------------------------------------------------
  # Sections General
  --------------------------------------------------------------*/
section {
    padding: 60px 0;
}

.section-title {
    padding-bottom: 30px;
}

.section-title h2 {
    font-size: 26px;
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 20px;
    padding-bottom: 10px;
    text-align: center;
    position: relative;
    /* font-family: "Poppins", sans-serif; */
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif ;
    /* font-family: Mulish,sans-serif; */
}

.section-title h2:hover::after {
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background: rgb(14 165 233);
    bottom: 0;
    left: calc(50% - 25px);
}

.section-title p {
    margin-bottom: 0;
}

@media (max-width: 991px) {
    #tech-stack {
        padding: 10px 10px 90px 10px;
    }

    section .section-title h2 {
        font-size: 22px;
    }

    .interests .icon-box h3 {

        font-size: 14px;
        display: none;
    }

    .icon-box img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .interests .icon-box {
        display: flex;
        align-items: center;
        padding: 15px;
        background: rgba(255, 255, 255);
        transition: ease-in-out 0.3s;
        border: 1px solid rgb(235, 233, 233);
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        border-radius: 0px;
    }
}

.cta {
    padding: 0;
    padding-bottom: 90px;
}

.cta .container {
    padding: 80px;
    background: #EEF5FF;
    border-radius: 15px;
}

@media (max-width: 992px) {
    .cta .container {
        padding: 60px;
    }
}

.cta .content h3 {
    color: var(--color-secondary);
    font-size: 40px;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
}

.cta .content h3 em {
    font-style: normal;
    position: relative;
}

.cta .content h3 em:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10px;
    height: 10px;
    background: rgba(var(--color-primary-rgb), 0.5);
    z-index: -1;

}

.cta .content p {
    color: #000;
    font-weight: 400;
    font-size: 19px;
    /* font-family: inherit; */
    font-family: Mulish, sans-serif;
}

.cta .content .cta-btn {
    color: #000;
    font-weight: 500;
    font-size: 16px;
    display: inline-block;
    padding: 12px 40px;
    border-radius: 5px;
    text-decoration: none;
    transition: 0.5s;
    margin-top: 10px;
    background: #fff;
}

.cta .content .cta-btn:hover {
    background: #fff;
}

.cta .img {
    position: relative;
}

.cta .img:before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(var(--color-white-rgb), 0.5);
    border-radius: 15px;
    transform: rotate(12deg);
}

.cta .img:after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(var(--color-white-rgb), 0.9);
    border-radius: 15px;
    transform: rotate(6deg);
}

.cta .img img {
    position: relative;
    z-index: 3;
    border-radius: 15px;
}

/*--------------------------------------------------------------
# tech stack 
--------------------------------------------------------------*/
#clients {
    padding: 50px 170px 70px 170px;
}

.clients {
    padding-top: 20px;
}

.clients .swiper-slide img {
    width: 50px;
    transition: 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.clients .swiper-pagination {
    margin-top: 20px;
    position: relative;
}

.clients .swiper-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #ffffff;
    opacity: 1;
    background-color: #ffffff;
}

.clients .swiper-pagination .swiper-pagination-bullet-active {
    background-color: rgb(255, 255, 255);
}

@media (max-width:768px) {
    #clients {
        padding: 50px 20px 70px 20px;
    }

    .cta {
        padding: 20px;
    }

    .cta .container {
        padding: 30px 20px;
    }

    .cta .content h3 {
        font-size: 20px;
    }

    .cta .content p {
        font-size: 16px;
    }

}
