html {
  scroll-behavior: smooth;
  transition: background-color 0.5s ease;

}

/*--------------------------- scroll bar-----------*/
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background-color: rgb(244, 244, 247);
}

::-webkit-scrollbar-thumb {
  background-color: rgb(238, 243, 243);
  border-radius: 10px;
  border-style: solid;
  height: 10px;
  border-color: rgb(255, 255, 255);
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(30, 177, 245);
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/

#hero {
  width: 100%;
  height: 75vh;
  background: url("../img/safar-safarov-MSN8TFhJ0is-unsplash.jpg") top center;
  background-size: cover;
  padding: 0 15px;
  box-shadow: rgba(43, 43, 43, 0.1) 0px 0px 0px 400px inset;
}

#hero h1 {
  margin: 0 0 10px 0;
  font-size: 48px;
  line-height: 56px;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}

#hero h2 {
  color: #eee;
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 300;
  font-family: "Poppins", sans-serif;
}

#hero .btn-get-started {
  font-size: 64px;
  transition: 0.5s;
  color: #fff;
  height: 60px;
}

#hero .btn-get-started:hover {
  padding-top: 10px;
  color: rgb(14 165 233);
}

@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}

@media (max-width: 768px) {
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }

  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}

/* ----------------------------.banner section ------------------------ */

.banner {
  width: 100%;
  padding: 70px 10px 10px 10px;
  height: 620px;
  text-align: center;
  background-color: #f8f9fb;
}

.banner .container .hero-img {
  margin-top: 60px;
  padding-right: 40px;
  animation: morph 16s ease-in-out infinite;
  background-image: url("../img/hamad5.jpg");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border: 3px solid #2d2e32;
  border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  position: relative;
  transition: all 0.2s ease-in-out;
  height: 24rem;
  width: 24rem;
}

@keyframes morph {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }

  25% {
    border-radius: 30% 60% 40% 70%/40% 30% 70% 60%;
  }

  50% {
    border-radius: 70% 30% 60% 40%/70% 60% 40% 30%;
  }

  75% {
    border-radius: 40% 70% 30% 60%/30% 40% 60% 70%;
  }

  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}

.banner .container h1 {
  font-size: 52px;
  text-align: left;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  /* font-family: Mulish,sans-serif; */
  color: #010101;
}

.banner .container h1 em {
  font-style: normal;
  color: #010101;
}

.banner .container p {
  text-align: left;
  font-weight: 500;
  font-size: 28px;
  font-family: 'Poppins', sans-serif;
}

.banner .container h5 {
  text-align: left;
  font-weight: 400;
  font-size: 22px;
  padding-bottom: 10px;
  /* font-family: 'Poppins', sans-serif; */
  font-family: Mulish,sans-serif;
  color: #000000;

}

.banner .container .content {
  padding-top: 50px;
}

.banner .container .content .links {
  float: left;
  display: flex;
  justify-content: start;
}

.banner .container .content .links a {
  padding-right: 12px;
  font-size: 12px;
  color: #4e4e4e;
}

.banner .container .links a:hover {
  color: rgb(14 165 233);
}

.banner .container .coffee {
  display: flex;
  width: 170px;
  justify-content: flex-start;
  align-items: center;
  margin-top: 30px;
  font-size: 16px;
  padding: 12px 20px;
  color: #000;
  border: 1px solid #d3d3d3;
  border-radius: 6px;
  font-family: 'Sora', sans-serif;
  transition: color .5s;
  text-decoration: none;
  background-color: #fff;
  font-weight: 600;
}

.banner .container .coffee:hover {
  background-color: #000;
  color: #fff;
}

.typing {
  font-weight: 700;
  color: rgb(14 165 233);
  text-transform: capitalize;
  font-family: 'Poppins', sans-serif;
}

.banner .container .ps-lg-5 {
  padding-left: 0px;
  padding-right: 30px;
}

@media(max-width:768px) {
  .banner {
    padding: 10px 10px 10px 10px;
    height: 650px;

  }

  .banner .container .hero-img {
    height: 19rem;
    width: 19em;
    display: block;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
  }

  .banner .container h1 {
    padding-top: 20px;
    font-size: 27px;
    text-align: center;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    color: #000;
  }

  .typing {
    text-align: center;
    text-transform: capitalize;
    font-family: 'Poppins', sans-serif;
  }

  .typing-container {
    position: relative;
    height: 60px;
    overflow: hidden;
  }

  .banner .container p {
    text-align: center;
    font-size: 23px;
    font-family: 'Poppins', sans-serif;
  }

  .banner .container h5 {
    text-align: center;
    font-weight: 400;
    font-size: 17px;
    padding-bottom: 10px;
    font-family: 'Poppins', sans-serif;
    color: #000000;

  }

  .banner .container .coffee {
    display: none;
  }

  .banner .container .content .links {
    display: flex;
    justify-content: center;
  }

  .banner .row {
    display: flex;
    flex-direction: column-reverse;
  }
}


/*------------------------------about section----------------------------*/
#about {
  padding: 100px 10px 90px 10px;
  background-color: #ffffff;
}

.about .content {
  padding: 10px 0;
}

.about .content h3 {
  font-weight: 600;
  font-size: 19px;
  color: rgb(14 165 233);
  padding-bottom: 15px;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
}

.about .content h6 {
  font-weight: 700;
  font-size: 18px;
  color: #302f2f;
  text-transform: capitalize;
  font-family: "Poppins", sans-serif;
}

.about .content p {
  margin-bottom: 0;
  color: #adb5bd;
  /* font-family: "Poppins", sans-serif; */
  font-family: Mulish,sans-serif;
  line-height: 1.85;
  text-align: left;
  font-size: 19px;
  font-weight: 400;
  line-height: 1.85em;
  color: #767676;
  padding-bottom: 12px;
}

.about .content .count-box {
  padding: 20px 0;
  width: 100%;
}

.about .content .count-box i {
  display: block;
  font-size: 36px;
  color: #eeafca;
  float: left;
  line-height: 0;
}

.about .content .count-box span {
  font-size: 36px;
  line-height: 20px;
  display: block;
  font-weight: 700;
  color: #2c4964;
  margin-left: 50px;
  font-family: "Playfair Display", serif;
}

.about .content .count-box a {
  font-weight: 600;
  display: block;
  margin-top: 20px;
  color: #437099;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  transition: ease-in-out 0.3s;
}

.about .content .count-box a:hover {
  color: #6b96be;
}

.about .image {
  background: url("../img/programmer.png") center center no-repeat;
  background-size: cover;
  height: 350px;
  width: 480px;
  border-radius: 12px;
  margin-top: 60px;
}

#about .cv-btn {
  margin-top: 12px;
  border: none;
  width: 160px;
  display: flex;
  padding: 0.90rem 1.5rem;
  background-color: transparent;
  color: rgb(62, 62, 62);
  font-size: 0.90rem;
  line-height: 1rem;
  font-weight: 500;
  text-align: center;
  border: 1px solid rgb(227, 227, 227);
  text-transform: capitalize;
  text-decoration: none;
  vertical-align: middle;
  align-items: center;
  border-radius: 0.5rem;
  user-select: none;
  gap: 0.75rem;
  font-family: 'Poppins', sans-serif;
  transition: all .6s ease;
}

#about .cv-btn:hover {
  box-shadow: 0 10px 15px -3px #488aec4f, 0 4px 6px -2px #488aec17;
}

#about .cv-btn:active {
  opacity: .85;
  box-shadow: none;
}

#about .cv-btn svg {
  width: 1.25rem;
  height: 1.25rem;
}

@media (max-width: 768px) {
  #about {
    padding: 10px 20px 60px 20px;
    background-color: #ffffff;
  }

  .about .content p {
    margin-bottom: 0;
    font-size: 16px;
    color: #767676;
    font-family: "Poppins", sans-serif;
    line-height: 1.85;
    text-align: left;
    font-weight: 400;
    font-style: normal;
    line-height: 1.85em;
    color: #7b7b7b;
    padding-bottom: 12px;
  }

  .about .content h3 {
    font-size: 17px;
    font-weight: 600;
    padding-bottom: 4px;
    padding-top: 6px;
    font-family: "Poppins", sans-serif;
  }

  .about .content h6 {
    font-weight: 600;
    font-size: 16px;
    color: #302f2f;
    text-transform: capitalize;
    font-family: "Poppins", sans-serif;
  }

  .about .image {
    min-height: 330px;
    text-align: center;
  }

  .about .image img {
    max-width: 80%;
  }

  #about .cv-btn {
    margin: 12px auto;
  }
}

/*------------------------tech-stack-------------------------*/

#clients {
  padding: 50px 170px 50px 170px;
}

.clients .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.clients .swiper-pagination .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid #ffffff;
}

.clients .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #ffffff;
}

.clients .swiper-slide img {
  transition: 0.3s;
  width: 55px;
}

.clients .swiper-slide img:hover {
  transform: scale(1.2);
}

.clients .container .clients-slider .swiper-wrapper .slider-separator::after{
  display: inline-block;
  width: 20px;
  /* Adjust the width of the separator as needed */
  height: 1px;
  /* Adjust the height of the separator as needed */
  background-color: #000;
  /* Color of the separator */
  margin: 0 5px;
  /* Adjust the margin as needed */
}


/*--------------------------------------------------------------
# services Sections 
--------------------------------------------------------------*/
.section-title {
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 22px;
  font-weight: 700;
  text-transform: capitalize;
  margin-bottom: 20px;
  padding-bottom: 10px;
  text-align: center;
  position: relative;
  font-family: "Poppins", sans-serif;
  /* font-family: Mulish,sans-serif; */
}

.section-title h2:hover::after {
  content: "";
  position: absolute;
  display: block;
  width: 60px;
  height: 3px;
  background: rgb(14 165 233);
  bottom: 0;
  left: calc(50% - 25px);
  transition: 0.2s;
}

.section-title p {
  margin-bottom: 0;
}

@media (max-width: 768px) {

  #clients {
    padding: 50px 20px 50px 20px;
  }


  section .section-title h2 {
    font-size: 22px;
  }

  .interests .icon-box h3 {

    font-size: 14px;
    display: none;
  }

  .icon-box img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .interests .icon-box {
    display: flex;
    align-items: center;
    padding: 15px;
    background: rgba(255, 255, 255);
    transition: ease-in-out 0.3s;
    border: 1px solid rgb(235, 233, 233);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 0px;
  }
}


/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.section-bg {
  padding: 80px 0;
  overflow: hidden;
  position: relative;
}

.services .icon-box {
  margin-bottom: 20px;
  padding: 30px;
  border-radius: 6px;
  background: #ffffff;
  transition: 0.3s;
  position: relative;
}

.services .icon-box:hover {
  background: #ffffff;
  transform: translateY(-10px);
}

.services .icon-box i {
  float: left;
  color: rgb(14 165 233);
  font-size: 50px;
  line-height: 0;
}

.services .icon-box h4 {
  margin-left: 70px;
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
}

.services .icon-box h4 a {
  color: #000000;
  transition: 0.3s;
  text-decoration: none;
}

.services .icon-box h4 a:hover {
  text-decoration: none;
}

.services .icon-box .icon-box:hover h4 a {
  color: rgb(14 165 233);
}

.services .icon-box p {
  margin-left: 70px;
  line-height: 24px;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}

.section-bg {
  padding: 180px 0;
  color: #040404;
}

.section-bg:before {
  content: "";
  background: #EEF5FF;
  position: absolute;
  bottom: 60px;
  top: 60px;
  left: 0;
  right: 0;
  transform: skewY(-3deg);
}

/*--------------------------------------------------------------
  # Testimonials
  --------------------------------------------------------------*/
#testimonials {
  padding: 80px 50px;
  background-color: hsl(0, 0%, 100%);
}

#testimonials .container .section-title {
  padding-left: 20px;
}

.testimonials .testimonials-carousel,
.testimonials .testimonials-slider {
  overflow: hidden;
}

.testimonials .testimonial-item {
  box-sizing: content-box;
  min-height: 320px;
}

.testimonials .testimonial-item .testimonial-img {
  width: 90px;
  border-radius: 50%;
  margin: -40px 0 0 40px;
  position: relative;
  z-index: 2;
  border: 4px solid #fff;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
}

.testimonials .testimonial-item h3 {
  font-size: 16px;
  font-weight: 600;
  margin: 10px 0 5px 45px;
  font-family: 'Poppins', sans-serif;
  color: #000000;
}

.testimonials .testimonial-item h4 {
  font-size: 14px;
  color: rgb(157, 162, 169);
  margin: 0 0 0 45px;
  font-family: 'Poppins', sans-serif;
}

.testimonials .testimonial-item .quote-icon-left,
.testimonials .testimonial-item .quote-icon-right {
  color: #c6f0f7;
  font-size: 26px;
}

.testimonials .testimonial-item .quote-icon-left {
  display: inline-block;
  left: -5px;
  position: relative;
}

.testimonials .testimonial-item .quote-icon-right {
  display: inline-block;
  right: -5px;
  position: relative;
  top: 10px;
}

.testimonials .testimonial-item p {
  font-weight: 400;
  font-size: 18px;
  /* font-family: 'Poppins', sans-serif; */
  font-family: Mulish,sans-serif;
  /* font-family: 'Roboto Slab', serif; */
  /* font-family: 'Segoe UI', sans-serif; */
  margin: 0 15px 0 15px;
  padding: 20px 20px 60px 20px;
  background: #fff;
  position: relative;
  border-radius: 6px;
  position: relative;
  z-index: 1;
  color: #555454;
  box-shadow: 0px 2px 15px rgba(69, 69, 69, 0.1);
}

.testimonials .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.testimonials .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid rgb(255, 255, 255);
}

.testimonials .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #ffffff;
}

@media (max-width: 768px) {
  .testimonials {
    padding: 30px 0px;
  }

  #testimonials {
    padding: 50px 0px;
    background-color: hsl(0, 0%, 100%);
  }
}
